*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: top left;
}

.logo img{
    height: 80px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #ffff;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
    z-index: 1;
    width: 100%;
    position: fixed;
}

nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a{
    display: flex;
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #111;
    letter-spacing: 1px;
}

nav ul li a:hover{
    background-color: #3185FF;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    transition: 0.2s;
    border-radius: 4px;
}

.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

.home-img{
    width: 500px;
    height: 400px;
    margin: 20ox;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.home-text{
    width: 500px;
    margin: 20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color: #22252E;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.home-text p{
    color: #504E4E;
}

.main-login{
    width: 180px;
    height: 50px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: #3185FF;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    text-transform: uppercase;
}

.main-login:hover{
    background-color: #0068FF;
    transition: 0.3s;
}

.time{
    position: absolute;
    left: 20%;
    bottom: 10px;
    transform: translate(-20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.office-time,
.office-number{
    margin: 0px 20px;
}

.office-time h3,
.office-number h3{
    font-weight: 700;
    color: #22252E;
    margin: 0px;
}

.office-time p,
.office-number p{
    color: #504E4E;
}

.office-time font,
.office-number font{
    color: #3185FF;
    font-weight: 700;
}

.services{
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
}

.services-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
}

.services-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color: #22252E;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.services-heading p{
    font-size: 1rem;
    text-transform: lowercase;
    color: #504E4E;
    width: 50%;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.15);
    border-radius: 8px;
    background-color: #fff;
    margin: 20px;
    flex-grow: 1;
}

.box img{
    padding: 20px;
    height: 100px;
    margin: 10px;
}

.box h3{
    color: #22252E;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
}

.box p{
    font-size: 1rem;
    color: #504E4E;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    max-width: 500px;
}

.box a {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3185FF;
    text-transform: uppercase;
    margin: auto;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    color: #3185FF;
}

.box a:hover{
    background-color: #3185FF;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    transition:all ease 0.3s;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    border-top: 1px rgba(167, 167, 167, 0.2);
}

footer a,
footer p{
    color: #5E5E5E;
}